<footer class="page-footer font-small  bg-color pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-dark">Siga-nos nas redes sociais!!</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-media">

                    <li>
                        <a href="https://github.com/daawch" target="_blank" class="iconGit">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/daawch_/?hl=pt-br" target="_blank" class="iconInsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/caique-rodrigues-da-silva-6ba002231/" target="_blank"
                            class="iconLink">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright  bg-color text-center py-3">
        <span class="text-dark">Todos os direitos reservados: Caique Rodrigues da Silva &copy; </span>
        <br>
        <span class="text-dark">Criado em 2022: </span>
        <a class="text-dark font-weight-bold" href="https://brazil.generation.org/" target="_blank">Generation Brasil</a>
    </div>


</footer>