ul.social-media{
    list-style: none;
    padding: 0%;
}

ul.social-media li{
    display: inline;
    margin: 0%;
    padding: 5px;

}

.bg-color{
    background-image: url(../../assets/color.bg.jpg);
    background-position: bottom;
}

.fa{
    font-size: 35pt;
    color: aliceblue;
    padding: 10px;
}

.fa-github-square:hover{
    color: #596275
}

.fa-instagram:hover{
    color: #C13584
}

.fa-linkedin-square:hover{
    color: #0e76a8
}