<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="https://pps.whatsapp.net/v/t61.24694-24/160395022_505009317640388_7743331428513349132_n.jpg?ccb=11-4&oh=01_AVyujG7VR0WmfgPgDGKIoixD3odmU1K-nvoFwbcPeOpv8g&oe=6241E5CF"
                    alt="mig user" width="50px" height="50px" class="img-fluid rounded-circle">
            </li>
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Nome do Usuário</p>
            </li>

            <li class="nav-item pl-3">
                <a href="">
                    <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Sair</button>
        </form>
    </div>
</nav>